<div *ngIf="test.id == -1">
    <p>El test no existe</p>
</div>

<div *ngIf="test.id != -1">
    <h3>{{test.titulo}}</h3>
    <h5>{{test.subtitulo}}</h5>
    <h6>Orden de las preguntas: {{textoConfig1}}</h6>
    <h6>{{textoConfig2}} preguntas</h6>

    <div *ngIf="!mostrarResultado">
        <hr>
        <app-test *ngFor="let pregunta of preguntas" [pregunta]="pregunta"></app-test>
        <div class="col text-center">
            <hr>
            <button type="button" (click)="finalizarTest()" class="btn btn-primary">Finalizar test</button>
        </div>
    </div>
    <!-- Guardar -->

    <br>
    <div *ngIf="mostrarResultado" class="col text-center">
        <h4>Resultados</h4>
        <h5 class="text-info">Estadisticas</h5>
        <div [innerHTML]="textoEstadisticasSafe"></div>
        <br>
        <h5 class="text-success">Aciertos ({{getAciertos().length}})</h5>
        <div [innerHTML]="textoAciertosSafe"></div>
        <br><br>
        <h5 class="text-danger">Fallos ({{getFallos().length}})</h5>
        <div [innerHTML]="textoFallosSafe"></div>
    </div>
</div>
