<div *ngIf="test.id == -1">
    <p>El test no existe</p>
</div>

<div *ngIf="test.id != -1">
    <h3>{{test.titulo}}</h3>
    <h5>{{test.subtitulo}}</h5>
    <h6>Orden de las preguntas: {{textoConfig1}}</h6>
    <h6>{{textoConfig2}} preguntas</h6>

    <div *ngIf="!mostrarResultado">
        <hr>
        <app-test *ngFor="let pregunta of preguntas" [pregunta]="pregunta"></app-test>
        <div class="col text-center">
            <hr>
            <button type="button" (click)="finalizarTest()" class="btn btn-primary">Finalizar test</button>
            
        </div>
    </div>
    <!-- Guardar -->

    <br>
    <div [@inOutAnimation] *ngIf="mostrarResultado" class="col-5 mx-auto text-center">
        <h4>Resultados</h4>
        <h5 class="text-info">Estadisticas</h5>
        <div [innerHTML]="textoEstadisticasSafe"></div>
        <br>
    </div>
    <div [@inOutAnimation] *ngIf="mostrarResultado" class="col mx-auto ">
        <div *ngIf="getAciertos().length>=1">
            <h5 class="text-success puntero" (click)="togleResultado('aciertos')">Aciertos ({{getAciertos().length}})</h5>
            <div [@inOutAnimation]  *ngIf="mostrarAciertos" [innerHTML]="textoAciertosSafe"></div>
            <br><br>
        </div>
        <div *ngIf="getFallos().length>=1">
            <h5 class="text-danger puntero" (click)="togleResultado('fallos')">Fallos ({{getFallos().length}})</h5>
            <div [@inOutAnimation]  *ngIf="mostrarFallos" [innerHTML]="textoFallosSafe"></div>
        </div>
    </div>
</div>
<button [@inOutAnimation] *ngIf="pageYoffset>100" id="backtop" mat-fab color="primary" (click)="scrollToTop()" aria-label="Example icon button with a delete icon">
    <mat-icon>arrow_upward</mat-icon>
</button>
