
<div class="col">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Titulo</span>
        </div>
        <input type="text" id="titulo" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
    </div>
    
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Subtitulo</span>
        </div>
        <input type="text" id="subtitulo" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
    </div>
</div>

<div class="col text-center">
    <button type="button" (click)="guardar()" class="btn btn-primary">Guardar</button>
    <hr>
    <p>O prueba a importarlo desde un fichero JSON:</p>
    <input type="file" id="fichero" accept="application/JSON">
    <button type="button" (click)="importar()" class="btn btn-primary">Importar</button>
</div>


