<div *ngIf="test.id == -1">
    <p>El test no existe</p>
</div>

<div *ngIf="test.id != -1">
    <div class="col">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">Titulo</span>
            </div>
            <input type="text" id="titulo" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
        </div>
        
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">Subtitulo</span>
            </div>
            <input type="text" id="subtitulo" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
        </div>
    </div>

    <div class="col text-center">
        <hr>
        <button type="button" (click)="descargarJSON()" class="btn btn-primary">Exportar test a JSON</button>
    </div>

    
    <div class="col text-center">
        <hr>
        <!-- Modal -->
        <!-- Button trigger modal -->
        <button type="button" (click)="eliminarTest()" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">
            Eliminar test
        </button>
    
  
    </div>


    
    
</div>