<!-- Navbar -->
<nav class="navbar navbar-expand-lg bg-light sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Test Generico</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/nuevotest">Crear nuevo test</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- Navbar -->

<div class="container">
  <div class="m-4">
    <router-outlet></router-outlet>
  </div>
  <br>
  <br>
  <br>
</div>
<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted fixed-bottom">
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    <div id="pie-pagina">
      <a class="text-reset" target="_blank" href="https://jaimesenoret.web.app/">Jaime Señoret</a> © 2022
    </div> 
    <div id="tiempo-test">

    </div>
  </div>
</footer>
<!-- Footer -->
